body {
  margin: 0;
}


.content {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.description {
	margin-top: 20px;
    margin-bottom: 10px;
    width: 99.5%;
    height: 25px;
}

div[class^="gistFile"] {
    margin-left: auto;
    margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #e6e6e6;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

.fileInfo {
	padding: 6px;
}


div[id^="editor"] {
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

.removeFile {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #db4141;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
	margin-left: 4px;
}

.removeFile:hover {
  background: #b30d0d;
  text-decoration: none;
}

#addFile {
   -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: lightblue;
    font-size: 14px;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}

#addFile:hover {
  background: #3295DB;
  text-decoration: none;
}


#createPublic {
	float: right;
	-webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #21e054;
    font-size: 14px;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 5px; 
}

#createPublic:hover {
  background: #0dbf3d;
}


#createSecret {
	float: right;
	-webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #21e054;
    font-size: 14px;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
 
    background: #21e054;
}

#createSecret:hover {
  background: #0dbf3d;
}