body {
	margin: 0px;
}

p {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

a {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


input[type="text"] {
	font-family: 'Roboto', sans-serif;
}

.content {
	width: 80%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}


.files {
	width: 70%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}


.description {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  	width: 99%;
    height: 25px;
}

.fileInfo {
	padding: 6px;
}


div[class^="gistFile"] {
    margin-left: auto;
    margin-right: auto;
	/*border-style: solid;
	border-width: 1px;
	background-color: #e6e6e6;*/
	border-radius: 4px;
	background-color: #D4DDE0;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

div[id^="editor"] {
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    /*border-style: solid;
    border-width: 1px;*/
}

.buttons {
	width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.removeFile {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #db4141;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
	margin-left: 4px;
}

.removeFile:hover {
  background: #b30d0d;
  text-decoration: none;
}


.addFile {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #36ABFE;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 6px;
}

.addFile:hover {
  background: #3295DB;
  text-decoration: none;
}

.updateGist {
	float: right;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #21e054;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 6px;
}

.updateGist:hover {
  background: #0dbf3d;
  text-decoration: none;
}
