
#header {
	 background-color: lightblue;
	 height: 50px;
}

ul#navmenu {
    padding: 0;
    padding-top: 15px;
}

ul#navmenu li {
    display: inline;
}

ul#navmenu li a {
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 3px;
}

ul#navmenu li a:hover {
    background-color: white;
}

#content {
	width: 90%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}


#listGists {
	float: left;
	width: 35%;
	height: 90%;
	overflow-y: scroll;
}

#gistBase {
	margin-left: auto;
    margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #e6e6e6;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

#files {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div[class*="gistFile"] {
    margin-left: auto;
    margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #e6e6e6;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

.gistInfo {
	padding: 4px;
}

#description {
	margin-top: 20px;
    margin-bottom: 10px;
    width: 99.5%;
    height: 25px;
}


div[class*="editor"] {
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}


#gistFiles {
	width: 60%;
	height: 900px;
	margin-left: 40%;
}

#gistSource {
	//width: 40%;
	//height: 400px;
	//margin-left: 40%;
	border-style: solid;
	border-width: 1px;
}

.singleGist {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.selected {
	background-color: white;
}

#loading {
	background: url(loading.gif) no-repeat center center;
	height: 90%;
	display: none;
}