<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>Opinnaytetyo_spring_react</display-name>
  
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
 
 
  <servlet>
    <servlet-name>Opinnaytetyo_spring_react</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Opinnaytetyo_spring_react</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/authorize</url-pattern>
    <url-pattern>/getaccesstoken</url-pattern>
    <url-pattern>/userinfo</url-pattern>
    <url-pattern>/gists</url-pattern>
    <url-pattern>/singlegist</url-pattern>
    <url-pattern>/singlegistajax</url-pattern>
    <url-pattern>/creategist</url-pattern>
    <url-pattern>/create</url-pattern>
    <url-pattern>/editgist</url-pattern>
    <url-pattern>/edit</url-pattern>
    <url-pattern>/deletegist</url-pattern>
  </servlet-mapping>
 
  
  
</web-app>